.calendar {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: 0 auto;
}
.calendar .header .month-year div{
    font-size: 20px;
    font-weight: bold;
}
.calendar .header .month-year a{
    font-size: 20px;
    font-weight: bold;
    color: #8e9396;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 10px;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid;
	border-radius: 12px;
    padding: 12px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
	color: rgba(245, 226, 202, 0.979);
	background-color:rgba(38, 108, 110, 0.822);
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border: 1px solid #e6e9ea;
    padding: 15px;
    font-weight: bold;
    background-color: whitesmoke;
    min-height: 60px;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #fdc806;
    color: #fff;
    word-wrap: break-word;
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #7fce51;
}
.calendar .days .day_num .event.red {
    background-color: #a02f2f;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
    background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: inherit;
}
.calendar .days .day_num.selected {
    background-color: #8c8f92cc;
    cursor: inherit;
}